@font-face {
  font-family: "h1Font";
  src: url("../fonts/NikeFuturaND.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pFont";
  src: url("../fonts/HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
  --color-headerTwo: #f5f5f5;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

nav img {
  margin: 0.5em;
  width: 1.3em;
}

nav img:first-of-type {
  max-width: 3em;
  margin-right: auto;
}

h1 {
  font-family: "h1Font";
  font-size: 2.7em;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
}

h2 {
  font-family: "helvetica", sans-serif;
  font-weight: 500;
}

header > section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-headerTwo);
}

p {
  font-family: "pFont", "Helvetica", sans-serif;
}

p:first-of-type {
  font-size: 1.1em;
  margin-top: 0.8rem;
  margin-bottom: 0.4em;
  display: flex;
  text-align: center;
}

a:first-of-type {
  font-size: 0.8em;
  padding-bottom: 0.8em;
}

main a:first-of-type {
  font-size: 1em;
  padding: 1em;
  color: var(--color-background);
  background: var(--color-text);
}

img:first-of-type {
  width: 100%;
}

article {
  display: flex;
  justify-content: center;
  width: 80vw;
}

article > img {
  margin: 1em;
  height: 50vh;
}

li img {
  width: 1.5em;
  height: 1.3em;
}
