/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

nav {
	display: flex;

}

nav img {
	width: 1.875em;
	height: 1.875em;
	margin: 0.5em;
}	
nav img:first-of-type {
  width: 3.125em;
  height: 3.125em;
  margin-right: auto;
}

