@font-face {
  font-family: "h1Font";
  src: url("../fonts/NikeFuturaND.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pFont", "aFont", "h3Font";
  src: url("../fonts/HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-buttonType1: #111;
  --color-buttonType2: #ffffff;
  --color-backgroundHeader: #eee;
  --color-headerTwo: #f5f5f5;
  --color-h5: #707072;
  --padding-Section: 3em 0em 0em 1em;
  --margin-h1: 1em 1em 0 1em;
  --padding-button: 0.5em 1em 0.5em 1em;
  --margin-h5: -0.8em 0 -1.2em 0;
  --radius: 30px;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  margin: 0;
  overflow: visible;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--space-s);
}

nav img {
  margin: 0.5em;
  width: 1.3em;
}

nav img:first-of-type {
  width: 3em;
  margin-right: auto;
}

h1 {
  font-family: "h1Font";
  font-size: 2.7em;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  margin: var(--margin-h1);
}

h2,
h3 {
  font-family: "pFont", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

h2:first-of-type {
  font-size: 1.2em;
  display: flex;
  text-align: center;
}

h4 {
  font-family: "pFont", sans-serif;
  font-weight: 600;
}

h5 {
  color: var(--color-h5);
  font-family: "pFont", sans-serif;
  font-weight: 550;
  font-size: 1em;
}

h6 {
  font-family: "pFont", sans-serif;
  font-size: 1em;
  font-weight: 600;
}

header > section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-headerTwo);
}

p {
  font-family: "pFont", "Helvetica", sans-serif;
}

a:first-of-type {
  font-size: 1em;
  padding-bottom: 0.8em;
  margin-top: -0.5em;
}

main section:first-of-type a {
  font-family: "aFont", sans-serif;
  font-size: 1.1em;
  padding: var(--padding-button);
  color: var(--color-buttonType2);
  background: var(--color-buttonType1);
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
  border-radius: var(--radius);
}

.carousel a {
  font-family: "aFont", sans-serif;
  font-size: 1.1em;
  padding: var(--padding-button);
  color: var(--color-text);
  background: var(--color-buttonType2);
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
  border-radius: var(--radius);
}

section:first-of-type video {
  max-width: 100%;
}

li img {
  width: 1.5em;
  height: 1.3em;
}

section:first-of-type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

main section {
  padding: var(--padding-Section);
}

/* Hulp van Jason met code van carousel en scroll-snap */
.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2em;
  position: relative;
}

.carousel article {
  display: flex;
  flex-direction: column;
  min-width: 75%;
}

.carousel img {
  height: 100%;
}

.carousel article:last-of-type {
  margin-right: 1em;
}

.carousel a {
  position: absolute;
  bottom: 0;
  margin: 1em;
  width: max-content;
}

section:nth-of-type(5) h5 {
  margin: var(--margin-h5);
}
